.header{
   background: black;
   height:60px;
   padding-top: 10px;
}
.header-logo{
   width:auto;
   height:50px;
   margin-left: 42px ;
}

.main-search-input {
   background: #fff;
   padding: 0 0px 0 0;
   border-radius: 1px;
   margin-top: 0px;
   box-shadow: 0px 0px 0px 6px rgba(255,255,255,0.3);
}

.fl-wrap {
   float: left;
   width: 100%;
   position: relative;
}

.main-search-input:before {
   content: '';
   position: absolute;
   bottom: -40px;
   width: 50px;
   height: 1px;
   background: rgba(255,255,255,0.41);
   left: 50%;
   margin-left: -25px;
}

.main-search-input-item {
   float: left;
   width: 100%;
   box-sizing: border-box;
   border-right: 1px solid #eee;
   height: 35px;
   position: relative;
}

.main-search-input-item input:first-child {
   border-radius: 100%;
}

.main-search-input-item input {
   float: left;
   border: none;
   width: 100%;
   height: 35px;
   padding-left: 20px;
}

.main-search-button{
   background: #8f4df8;
}

.main-search-button {
   position: absolute;
   right: 0px;
   height: 35px;
   width: 120px;
   color: #fff;
   top: 0;
   border: none;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   cursor: pointer;
}

.main-search-input-wrap {
   max-width: 500px;
   margin: 0px auto;
   position: relative;
}

:focus {
   outline: 0;
}


@media only screen and (max-width: 768px){
   .main-search-input {
      background: rgba(255,255,255,0.2);
      padding: 14px 20px 10px;
      border-radius: 10px;
      box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.0);
   }

   .main-search-input-item {
      width: 100%;
      border: 1px solid #eee;
      height: 50px;
      border: none;
      margin-bottom: 10px;
   }

   .main-search-input-item input {
      border-radius: 6px !important;
      background: #fff;
   }

   .main-search-button {
      position: relative;
      float: left;
      width: 100%;
      border-radius: 6px;
   }
}

